@charset "utf-8";

*{
    list-style-type: none;
    box-sizing: border-box;
    /* border: 2px solid red; */
}
a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

header{
    /* border: 10px solid green; */
    width: 100%;
    cursor: pointer;
    z-index: 10;
}
.top_head{
    width: 80%;
    height: 50px;
    margin: 0 auto;
    position: relative;
    z-index: 11;
    /* border: 1px solid red; */
}
.top{
    float: right;
}
/* .top::after{
    content: '';
    display: block;
    clear: both;
} */
.top li{
    display: inline-block;
    padding-top: 10px;
    /* z-index: 13; */
}

.top li:hover .top{
    opacity: 0;
}
.top li:hover .top2{
    opacity: 1;
    transform: rotate(45deg);
    transition: all 1s ease-in-out;
}
.top2{
    position: absolute;
    opacity: 0;
    top: 10px;
    right: 0px;   
}
.top2 li{
    display: inline-block;
}

nav{
    width: 80%;
    height: 70px;
    margin: 0 auto;
    /* border: 2px solid red; */
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between; 
}
nav .logo_top{
    /* border: 3px solid red; */
    width: 200px;
    height: 100%;
}
nav .logo_top h1{
    /* border: 1px solid red; */
    width: 200px;
    height: 70px;
    position: relative;
    z-index: 20;
}
.mobile_hamburger{
    /* border: 1px solid red; */
    width: 50px;
    height: 50px;
    z-index: 30;
    opacity: 0;
    position: absolute;
    top: 60px;
    right: 180px;
}
.mobile_hamburger img{
    width: 100%;

}
/* nav .logo_top h1 img{
    width: 80%;
    margin: 0;
} */

.in{
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translate(20px, 0);
    transition: all 0.2s ease-out;
}
.out{
    /* border: 1px solid green; */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transform: translate(0, 0);
    transition: all 0.2s ease-out;
}
h1:hover .in{
    opacity: 1;
    transform: translate(0px, 0px);
}
h1:hover .out{
    opacity: 0;
    transform: translate(20px, 0px);
}
nav .main_menulist{
    /* border: 1px solid red; */
    height: 70px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    z-index: 11;
   
}
nav .main_menulist .main_menu1{
    font-size: 15px;
    /* padding-left: 100px; */
    font-weight: bold;
}
nav .main_menulist .main_menu1 h2 {
    /* border: 1px solid green; */
    height: 70px;
    width: 130px;
    text-align: center;
    line-height: 70px;
}
nav .main_menulist .main_menu1 h2:hover {
    color: #d27416;
}
.main_menu1 .sub_pagelist{
    display: none;
}
.main_menu1 .sub_pagelist li{
    z-index: 999;
    /* opacity: 0; */
    color: gray;
    border-bottom: 1px solid #dddddd;
    height: 50px;
    line-height: 50px;
    background-color: white;
    text-align: center;
    font-size: 10px;   
}
.main_menu1 .sub_pagelist li:hover{
    background-color: #dddddd;
    color: #d27416;
  
}

/* 메인비주얼 */

.mySwiper_main {
    width: 100%;
    height: 100%;
  }

  .mySwiper_main {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .mySwiper_main img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .mySwiper_main .swiper-button-next{
    /* border: 1px solid red; */
    background-color: rgba(233, 233, 233, 0.5);
    border-radius: 4px;
    color: black;
    width: 50px;
    height: 50px;
    right: 60px;
  }
  .mySwiper_main .swiper-button-next:after{
    font-size: 30px;
    font-weight: 900;
  }
  .mySwiper_main .swiper-button-prev{
    /* border: 1px solid red; */
    background-color: rgba(151, 151, 151, 0.5);
    border-radius: 4px;
    color: black;
    width: 50px;
    height: 50px;
    left: 60px;
  }
  .mySwiper_main .swiper-pagination {
    /* border: 1px solid red; */
    margin-bottom: 20px;
  }
  .mySwiper_main .swiper-button-prev:after{
    font-size: 30px;
    font-weight: 900;
  }
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 30px;
  }
  .mySwiper_main .swiper-pagination-bullet{
    background-color: #dddddd;
    width: 12px;
    height: 12px;
    border-radius: 0px;
  }


/* MD픽 부분 */

.main1{
    width: 100%;
    height: 350px;
    /* border: 1px solid red; */
}
.md{
    /* border: 1px solid red; */
    width: 80%;
    margin: 50px auto;
    color: rgb(48, 47, 47);
}
.pick{
    /* border: 1px solid green; */
    width: 60%;
    float: left;
}
.pick ul{
    border-bottom: 1px solid rgb(155, 153, 153);
    padding: 10px 0px;
    height: 50px;
}
.pick ul li:nth-child(1){
    float: left;
    font-size: 18px;
    font-weight: bold;
}
.pick ul li:nth-child(2){
    float: right;
}
.pick ul::after{
    content: '';
    display: block;
    clear: both;
}
.pick_img{
    /* border: 1px solid red; */
    text-align: center;
}
.pick_img img{
    /* border: 1px solid rgb(0, 255, 55); */
    width: 32.5%;
    margin: 10px 0px;
    position: relative;
}
.pick_img img:hover{
    opacity: 0.5;
}
.notice{
    float: right;
    width: 37%;
    /* border: 1px solid rebeccapurple; */
    padding: 0px 10px 0px 10px;
    /* padding: 10px 10px; */
}
.notice_top{
    height: 50px;
    border-bottom: 1px solid gray;
}
.notice_top::after{
    content: '';
    display: block;
    clear: both;
}
.notice_top h3{
    float: left;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px solid gray;
    border-bottom: 1px solid transparent;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: white;
    font-weight: 900;
}
.notice_top p{
    float: right;
    height: 50px;
    line-height: 50px;
}
.notice_body::after{
    content: '';
    display: block;
    clear: both;
}
.notice_body li{
    /* border: 1px solid red; */
    height: 45px;
    line-height: 45px;
    border-bottom: 0.5px dotted grey;
}
.notice_body li a{
    font-size: 12px;
    float: left;
    width: 250px;
    height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;   
}
.notice_body li a:hover{
    text-decoration:underline;
}
.notice_body li span{
    float: right;
    font-size: 14px;
}

/* 핫이슈 상품 */

.hot{
    /* border: 1px solid red; */
    width: 100%;
    height: 900px;
    color: gray;
    /* margin-bottom: 200px; */
}
.issue{
    /* border: 1px solid red; */
    width: 80%;
    margin: 0 auto;
}
.title{
    font-size: 25px;
    text-align: center;
    /* border: 1px solid red; */
    padding: 20px 0px;
    margin-bottom: 10px;
}
.event{
    width: 100%;
    /* border: 1px solid red; */
    text-align: center;
    color: white;
}
.event li{
    /* border: 1px solid gold; */
    display: inline-block;
    width:32%;
    overflow:hidden;
    margin-bottom: 20px;
    position: relative;
    
    
}
.event li:hover img{
    transform: scale(1.2);
    background-color: rgba(5, 5, 5, 0.3);
}
.event li:hover .event_text{
    opacity: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    top: 0px;
    left: 0px;
}
.event li img{
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
}

.event_text{
    /* border: 2px solid red; */
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 100px;
    left: 0px;
    transition: all 0.5s ease-in-out;
    background-color: rgba(5, 5, 5, 0.3);
}

.event_text h3{
    font-weight: bold;
}
.event_text p{
    font-size: 12px;
}
.event_text button{
    background-color: white;
    color: black;
    border: 0px solid;
    border-radius: 5px;
    padding: 5px 10px;
}

/* 배너 이미지 */
.bnr{
    /* border: 1px solid red; */
    width: 100%;
    height: 500px;
    background-color: rgba(245, 245, 245, 0.3);
    overflow: hidden;
}
.bnr::after{
    opacity: 1;
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(245, 245, 245, 0.3);
    width: 100%;
    height: 100%;
}
.bnr:hover img{
    opacity: 0.5;
}
.bnr img{
    width: 100%;
    transition: all 0.5s ease-in-out;
}

/* 서비스 */

.service{
    width: 100%;
    /* border: 1px solid red; */
    margin: 100px 0px;
}
.service_top{
    /* border: 2px solid green; */
    width: 80%;
    height: 250px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
.customer{
    /* border: 2px solid hotpink; */
    width: 32%;
}
.customer iframe{
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    /* float: left;
    position: absolute;
    top: 0;
    left: 0; */
}
.store{
    /* border: 1px solid rgb(68, 0, 255); */
    width: 32%;
    height: 100%;
    color: rgb(51, 51, 51);
}
.store_top{
    /* border: 1px solid green; */
    width: 100%;
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid gray;
}
.store_top::after{
    content: '';
    display: block;
    clear: both;
}
.store_top h3{
    float: left;
    font-size: 16px;
    font-weight: bold;
}
.store_top p{
    float: right;
    font-size: 14px;
}
.store_con::after{
    content: '';
    display: block;
    clear: both;
}
.store_con li{
    /* border: 1px solid blue; */
    height: 41px;
    line-height: 41px;
    border-bottom: 0.5px dotted gray;  
}
.store_con li a{
    float:left;
    font-size: 14px;
    font-weight: 800;
}
.store_con li a:hover{
    text-decoration: underline;
}
.store_con li span{
    float:right;
    font-size: 13px;
}
.cs_top{
    width: 32%;
    height: 100%;
    /* border: 1px solid red; */
    
    color: rgb(41, 40, 40);
} 
.cs_top h3{
    font-size: 16px;
    font-weight: bold;
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid grey;
}
.cs{
    background-color: rgb(41, 40, 40);
    border-radius: 5px;
    height: 50px;
    line-height: 50px;
    color: white;
    margin: 8px 0px;
    font-size: 14px;
}
.icon-tty{
    width: 10px;
    padding: 5px 5px;
    border-radius: 5px;
    background-color: rgb(15, 15, 15);
    margin-left: 10px;
    
}
.cs p{
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
}
.time{
    border: 1px solid gray;
    height: 140px;
    font-size: 12px;
}
.time li{
    /* border: 1px solid rebeccapurple;  */
    /* list-style-type: disc; */
    font-weight: 700;
    margin: 10px 0px;
    margin-left: 10px;
    list-style-type: disc;
    list-style-position: inside;
}

/* 호버시 텍스트박스 커지는 배너부분 */

.bnr2{
    /* border: 1px solid red; */
    width: 100%;
    margin-bottom: 100px;
}
.bnr2_top{
    width: 100%;
}
.con1{
    height: 200px;
    width: 100%;
    /* border: 1px solid red; */
    text-align: center;
}
.con1 li{
    background-color: black;
    transition:all 0.2s ease-in-out;
}
.con1 li:hover img{
    opacity: 0.8;
}
.con1 li:hover .con_text{
    padding: 15px 15px;
    transition:all 0.3s ease-in-out;
}
.con1 li:nth-child(1){
    /* border: 1px solid green; */
    width: 29.8%;
    height: 200px;
    float: left;
    overflow: hidden;
    position: relative;
}
.con1 li img{
    width: 100%;
    
}
.con1 li:nth-child(2){
    /* border: 1px solid green; */
    width: 69.8%;
    height: 200px;
    overflow: hidden;
    float: right;
    position: relative;
}
.con1 li p{
    border: 1px solid rgb(255, 255, 255);
    position: absolute;
    top: 33%;
    left: 40%;
    padding: 13px 13px;
    font-size: 14px;
    color: white;
}
.con2{
    width: 100%;
    height: 200px;
    margin-top: 5px;
    /* border: 1px solid red; */
    text-align: center;
}
.con2 li{
    background-color: black;
}
.con2 li:hover img{
    opacity: 0.8;
}
.con2 li:hover .con_text{
    padding: 15px 15px;
    transition:all 0.3s ease-in-out;
}

.con2 li:nth-child(1){
    /* border: 1px solid green; */
    width:  69.8%;
    height: 200px;
    float: left;
    overflow: hidden;
    position: relative;
}
.con2 li:nth-child(2){
    /* border: 1px solid green; */
    width: 29.8%;
    height: 100%;
    overflow: hidden;
    float: right;
    position: relative;
}
.con2 li img{
    width: 100%;
}
.con2 li:nth-child(2) img{
    width: 100%;
    height: 100%;
}
.con2 li p{
    border: 1px solid rgb(255, 255, 255);
    position: absolute;
    top: 33%;
    left: 40%;
    padding: 13px 13px;
    font-size: 14px;
    color: white;
}

/* 푸터영영 */

footer{
    /* border: 1px solid red; */
    width: 100%;
    height: 300px;
    padding-bottom: 50px;
}
.footer_top{
    background-color: rgb(228, 225, 225);
}
.footer_back{
    /* border: 1px solid red; */
    margin: 0 auto;
    width: 80%;
    height: 50px;
}
.footer_back::after{
    display: block;
    content: '';
    clear: both;
}
.footer_back ul{
    float: left;
    color: rgb(41, 40, 40);
}
.footer_back ul li{
    display: inline-block;
    line-height: 50px;
    padding: 0px 10px;
    font-size: 14px;
    font-weight: 400;
}
.footer_back ul li:hover{
    font-weight: 900;
}
.footer_back ul li::after{
    content: '';
    display:inline-block;
    border-right: 1px solid gray;
    height: 10px;
    padding: 0px 10px;
}
.footer_back ul li:nth-last-of-type(1)::after{
    border: 0px solid;
}
.footer_back p{
    background-color: gray;
    float: right;
    display: block;
    padding: 0px 7px;
    color: white;
    margin-top: 10px;
}
.footer_back p:hover{
    background-color: rgb(41, 39, 39);
}
.address{
    background-color: rgb(245, 241, 241);
}
.address_back{
    /* border: 1px solid red; */
    width: 80%;
    margin: 0 auto;
    color: rgb(41, 40, 40);
}
.address_left{
    float: left;
    /* border: 1px solid red; */
    width: 60%;
    height: 150px;
    margin-top: 30px;
    font-size: 12px;
}
.address_left li{
    font-weight: 600;
    padding: 3px 0px;
}
.address_left li:nth-last-child(1){
    background-color: rgb(114, 114, 114);
    color: white;
    display: inline-block;
    padding: 0px 5px;
}
.address_right{
    /* border: 1px solid green; */
    height: 150px;
    margin-top: 30px;
    float: right;
    color: rgb(41, 40, 40);
}
.address_right li:nth-child(1){
    font-weight: 600;
}
#prood1{
    width: 200px;
    padding: 5px 0px;  
    margin: 10px 0px;
    color: gray;
}

@media all and (max-width: 1024px){
    .top_head{
        width: 90%;
    }
    nav{
        width: 90%;
        margin-bottom: 10px;
    }
    nav .logo_top h1{
        width: 150px;
    }
    nav ul li{
        font-size: 14px;
    }
    main{
        height: 500px;
        overflow: hidden;
    }
    main img{
        transform: scale(2);
    }
    .main1{
        width: 100%;
        height: 400px;
    }
    .main1 .md{
        width: 95%;
        height: 300px;
    }
    .notice_body li span{
        font-size: 11px;
    }
    .hot{
        height: 1100px;
    }
    .hot .issue{
        width: 100%;
        height: 100%;
    }
    .hot .event{
        width: 95%;
        margin: 0 auto;
    }
    .hot .event li{
        width: 47%;
        margin: 0px;
    }
    .bnr{
        height: 300px;
    }
    .service{
        height: 400px;
    }
    .service_top{
        width: 90%;
    }
    .footer_back{
        width: 95%;
        margin: 0 auto;
    }
    .address{
        width: 100%;
        height: 400px;
    }
    .address_back{
        height: 400px;
        width: 95%;
        position: relative;
    }
    .address_right{
        float: none;
        position: absolute;
        top: 180px;

    }

    @media all and (max-width: 768px){
        header{
            /* border: 2px solid red; */
            height: 100px;
        }
        .top_head{
            /* border: 2px solid hotpink; */
            width: 97%;
            height: 50px;
        }
        .top_head ul li img{
            width: 25px;
        }
        nav{
            /* border: 2px solid green; */
            width: 97%;
            height: 50px;
        }
        nav .logo_top{
            /* border: 2px solid red; */
            height: 50px;
        }
        nav .logo_top h1{
            /* border: 2px solid yellow; */
            height: 100%;
        }
        nav .logo_top h1 img{
            height: 100%;
            margin-top: 0;
        }
        nav ul{
            opacity: 0;
        }
        .mobile_hamburger{
            opacity: 1;
            right: 7px;
            top: 50px;
            width: 40px;
        }
        main{
            /* border: 2px solid red; */
            height: 400px;
            overflow: hidden;
        }
        main img{
            transform: scale(2.9);
        }
        .main1{
            /* border: 2px solid red; */
            height: 700px;
        }
        .main1 .md{
            display: flex;
            flex-direction: column;

        }
        .main1 .pick{
            /* border: 2px solid green; */
            width: 100%;
            margin: 0 auto;
        }
        .main1 .notice{
            /* border: 2px solid red; */
            width: 100%;
            margin-top: 70px;
        }
        .hot{
            /* border: 2px solid red; */
            margin-top: 0px;
            height: auto;
        }
        .event{
            /* border: 2px solid green; */
            width: 100%;
        }
        .issue .event li{
            /* border: 2px solid red; */
            width: 100%;
            margin-bottom: 30px;
        }
        .bnr{
            /* border: 2px solid red; */
            height: 300px;
            overflow: hidden;
        }
        .bnr img{
            transform: scale(1.5);
        }
        .service{
            /* border: 2px solid red; */
            margin-top: 50px;
            height: 900px;
        }
        .service .service_top{
            flex-direction: column;

        }
        .service_top .customer{
            border: 2px solid gray;
            width: 100%;
            height: 100%;
        }
        .service_top .customer iframe{
            width: 100%;
            height: 100%;
        }
        .service_top .store{
            /* border: 2px solid red; */
            width: 100%;
            margin: 50px 0;
        }
        .service_top .cs_top{
            /* border: 2px solid green; */
            width: 100%;
        }
        .bnr2{
            /* border: 2px solid red; */
        }
        .bnr2_top{
            /* border: 2px solid green; */
            display: flex;
            flex-direction: column;
        }
        .bnr2_top ul{
            /* border: 1px solid red; */
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 400px;
        }
        .bnr2_top ul li{
            /* border: 5px solid red; */
            width: 100%;
        }
        .con1 li:nth-child(1){
            /* border: 1px solid green; */
            width: 100%;
            height: 200px;
            /* float: left; */
            overflow: hidden;
            position: relative;
        }
        .con1 li:nth-child(2){
            /* border: 1px solid green; */
            width: 100%;
            height: 200px;
            /* float: left; */
            overflow: hidden;
            position: relative;
        }
        .con2{
            margin-top: 0;
        }
        .con2 li:nth-child(1){
            /* border: 1px solid green; */
            width: 100%;
            height: 200px;
            /* float: left; */
            overflow: hidden;
            position: relative;
        }
        .con2 li:nth-child(2){
            /* border: 1px solid green; */
            width: 100%;
            height: 200px;
            /* float: left; */
            overflow: hidden;
            position: relative;
        }
        .footer_top{
            /* border: 2px solid red; */
            height: 80px;
            position: relative;
        }
        .address{
            height: 450px;
        }
        .address_left{
            /* border: 1px solid red; */
            width: 100%;
        }
        .address_back{
            /* border: 2px solid red; */
            height: 450px;
        }
        .footer_back p{
            position: absolute;
            top: 30px;
            left: 20px;
        }
        .address_right{
            top: 270px;
        }



    }
        
    


}
    






